<html>
  <head>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% comment %} use section for sections folder {% endcomment %}
    {% section 'header' %}
    {% comment %} to use snippets header.liquid use "render" {% endcomment %}
    {% comment %} {% render 'header' %} {% endcomment %}
    {{ content_for_layout }}
    {{ 'scripts.js' | asset_url | script_tag }}
  </body>
</html>
